.chart {

  &__wrapper {
    padding: 0;
  }

  &__menu {
    margin-bottom: 36px;

    @include ul-min {
      margin-bottom: 24px;
    }

    @include ul {
      margin-bottom: 24px;
    }

    @include xl {
      margin-bottom: 10px;
    }

    margin-right: 15px;
    
    &::after {
      margin-right: 15px;
      margin-left: 15px;
      content: '';
      width: 100%;
      height: 1px;
      background-color: #e0e1e2;
      // border-bottom: 1px solid #e0e1e2;
    }

    &-left {
      // padding-left: 0;

      &-list {

        &-item {
          font-family: 'HelveticaNeue-Roman';
          font-size: 28px;
          line-height: 44px;
          letter-spacing: 40 * 28px / 1000;
          border-bottom: 4px solid transparent;

          @include ul-min {
            font-size: 19px;
            line-height: 40px;
            letter-spacing: 40 * 19px / 1000;
          }

          @include ul {
            font-size: 16px;
            line-height: 40px;
            letter-spacing: 40 * 16px / 1000;
          }

          &-link {
            padding: 1rem !important;

            @include xl {
              padding: 0.5rem !important;
            }
          }
          
          &:first-of-type a {
            padding: 1rem 1rem 1rem 0 !important;

            @include xl {
              padding: 0.5rem 0.5rem 0.5rem 0 !important;
            }
          }

          &:hover,
          &:focus,
          &:active {
            border-bottom: 4px solid $color-primary;
          }

          &:hover .chart__menu-left-list-item-link,
          &:focus .chart__menu-left-list-item-link,
          &:active .chart__menu-left-list-item-link {
            font-weight: bold;
          }

          .is-dropdown-submenu-item:hover,
          .is-dropdown-submenu-item:focus,
          .is-dropdown-submenu-item:active {
            font-weight: bold;
          }
        }
      }
    }

    &-right {
      // padding-right: 0;
      
      li:last-of-type a {
        padding: 0 0 0 1rem !important;
      }

      &-list-item {
        padding: 0 1rem 0 1rem !important;

        @include ul-min {
          padding: 0 0 0 1rem !important;
        }
        
        i {
        color: #d6d8d8;
        font-size: 46px;

        @include ul-min {
          font-size: 33px;
        }

        @include ul {
          font-size: 27px;
        }

        &:hover,
          &:focus,
          &:active {
            color: $color-primary;
          }
        }
      }
    }
  }

  &__list {

    &-item {

      .card {
        margin-bottom: 30px;
        position: relative;
        border-radius: 6px;

        &:hover .chart__list-item-info {
          opacity: 1;
        }

        &-section {
          display: none; // !!!!
          height: 20%; 
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ffffff;

          @include ul {
            padding: 8px;
          }
        }
      }

      &-title {
        text-transform: uppercase;
        font-family: 'HelveticaNeue Bold';
        font-size: 28px;
        line-height: 44px;
        letter-spacing: 40 * 28px / 1000;

        @include ul-min {
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 40 * 18px / 1000;
        }

        @include ul {
          margin-bottom: 6px;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 30 * 12px / 1000;
        }

        @include xl {
          font-size: 22px;
          line-height: 30px;
          letter-spacing: 40 * 22px / 1000;
        }
      }

      &-genre {
        color: $color-secondary;
        font-family: 'HelveticaNeue Medium';
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 40 * 22px / 1000;

        @include ul-min {
          font-size: 15px;
          line-height: 21px;
          letter-spacing: 40 * 15px / 1000;
        }

        @include ul {
          font-size: 11px;
          line-height: 16px;
          letter-spacing: 30 * 11px / 1000;
        }

        @include xl {
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 40 * 18px / 1000;
        }

        span::after {
          content: ', ';
        }

        span:last-child::after  {
          content: none;
        }
      }

      &-badge {
        color: $color-secondary;
        @extend %badge;

        @include xl {
          width: 40px;
          font-size: 16px;
          line-height: 21px;
        }
      }

      &-info {
        display: flex;
        height: 80%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.68);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s linear;

        &-play {
          display: inline-block;
          position: relative;
          
          &::before {
            content: '';
            position: absolute;
            left: calc(50% - 25px);
            top: calc(50% - 25px);
            width: 50px;
            height: 50px;
            background-color: #ffffff;

            @include ul {
              width: 40px;
              height: 40px;
              left: calc(50% - 20px);
              top: calc(50% - 20px);
            }

            @include xl {
              width: 50px;
              height: 50px;
              left: calc(50% - 25px);
              top: calc(50% - 25px);
            }
          }

          i {
            position: relative;
            color: $color-primary;
            font-size: 125px;

            @include ul {
              font-size: 75px;
            }

            @include xl {
              font-size: 125px;
            }
          }
        }

        &-caption {
          margin-bottom: 50px;
          color: #ffffff;
          font-family: 'HelveticaNeue-Roman';
          font-size: 28px;
          line-height: 44px;
          letter-spacing: 40 * 28px / 1000;

          @include ul-min {
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 40 * 18px / 1000;
          }

          @include ul {
            margin-bottom: 40px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 40 * 14px / 1000;
          }

          @include xl {
            margin-bottom: 50px;
            font-size: 22px;
            line-height: 30px;
            letter-spacing: 40 * 22px / 1000;
          }
        }

        &-more {
          @extend %button;
          border-color: #ffffff;
          color: #ffffff;
          font-family: 'HelveticaNeue-Roman';
          font-size: 28px;
          line-height: 44px;
          letter-spacing: 40 * 28px / 1000;

          @include ul-min {
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 40 * 18px / 1000;
          }

          @include ul {
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 40 * 14px / 1000;
          }

          @include xl {
            width: 160px;
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 40 * 22px / 1000;
          }
        }
      }

      &-full-info {
        // TODO: JavaScript button
        // display: none;
        padding: 25px;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.68);

        @include ul-min {
          padding: 18px;
        }

        @include ul {
          padding: 10px;
        }

        @include xl {
          padding: 15px;
        }

        &__row1 {
          margin-bottom: 40px;

          @include ul-min {
            margin-bottom: 30px;
          }

          @include ul {
            margin-bottom: 17px;
          }

          @include xl {
            margin-bottom: 30px;
          }
        }

        &-clear {
          display: flex;
          align-items: center;
          
          i {
            font-size: 34px;
            color: #ffffff;

            @include ul-min {
              font-size: 22px;
            }

            @include ul {
              font-size: 16px;
            }

            @include xl {
              font-size: 22px;
            }
          }

          &:hover i,
          &:focus i {
            color: $color-primary;
            cursor: pointer;
          }
        }

        &-buttons {
          display: flex;
          align-items: center;
          justify-content: flex-end;
         
          &-favorites {
            color: #ffffff;
            font-family: 'HelveticaNeue-Roman';
            font-size: 28px;
            line-height: 44px;
            letter-spacing: 40 * 28px / 1000;

            @include ul-min {
              font-size: 18px;
              line-height: 30px;
              letter-spacing: 40 * 18px / 1000;
            }

            @include ul {
              font-size: 14px;
              line-height: 22px;
              letter-spacing: 40 * 14px / 1000;
            }

            @include xl {
              font-size: 18px;
              line-height: 30px;
              letter-spacing: 40 * 18px / 1000;
            }
          }
  
          &-more {
            display: flex;
            align-items: center;
            
            i {
              margin-right: -12px;
              vertical-align:bottom;
              color: #ffffff;
              font-size: 30px;

              @include ul {
                margin-right: -7px;
                font-size: 18px;
              }
            }
          }

          &-favorites:hover,
          &-favorites:focus,
          &-more:hover i,
          &-more:focus i {
            color: $color-primary;
          }
        }

        &__row2 {
          margin-bottom: 40px;

          @include ul-min {
            margin-bottom: 30px;
          }

          @include ul {
            margin-bottom: 17px;
          }

          @include xl {
            margin-bottom: 30px;
          }
        }

        &-title {
          margin-bottom: 0;
          color: #ffffff;
          text-transform: uppercase;
          font-family: 'HelveticaNeue Bold';
          font-size: 28px;
          line-height: 44px;
          letter-spacing: 40 * 28px / 1000;

          @include ul-min {
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 40 * 18px / 1000;
          }

          @include ul {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 30 * 14px / 1000;
          }

          @include xl {
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 40 * 18px / 1000;
          }

          &:hover,
          &:focus {
            color: $color-primary;
          }
        }
  
        &-genre {
          color: $color-secondary;
          font-family: 'HelveticaNeue Medium';
          font-size: 22px;
          line-height: 33px;
          letter-spacing: 40 * 22px / 1000;

          @include ul-min {
            font-size: 15px;
            line-height: 21px;
            letter-spacing: 40 * 15px / 1000;
          }

          @include ul {
            font-size: 11px;
            line-height: 16px;
            letter-spacing: 30 * 11px / 1000;
          }

          @include xl {
            font-size: 15px;
            line-height: 21px;
            letter-spacing: 40 * 15px / 1000;
          }
  
          span::after {
            content: ', ';
          }
  
          span:last-child::after  {
            content: none;
          }
        }
  
        &-badge {
          color: $color-secondary;
          @extend %badge;
        }

        &__row3 {
          margin-bottom: 40px;

          @include ul-min {
            margin-bottom: 30px;
          }

          @include ul {
            margin-bottom: 17px;
          }

          @include xl {
            margin-bottom: 30px;
          }
        }
    
        &-description {
          text-align: justify;
          color: #ffffff;
          font-family: 'HelveticaNeue Medium';
          font-size: 22px;
          line-height: 33px;
          letter-spacing: 40 * 22px / 1000;

          @include ul-min {
            font-size: 15px;
            line-height: 21px;
            letter-spacing: 40 * 15px / 1000;
          }

          @include ul {
            margin-bottom: 0;
            font-size: 11px;
            line-height: 16px;
            letter-spacing: 30 * 11px / 1000;
          }

          @include xl {
            font-size: 15px;
            line-height: 21px;
            letter-spacing: 40 * 15px / 1000;
          }
        }

        &-watch {
          @extend %button;
          display: inline-block;
          border-color: #ffffff;
          color: #ffffff;
          font-family: 'HelveticaNeue-Roman';
          font-size: 28px;
          line-height: 44px;
          letter-spacing: 40 * 28px / 1000;

          @include ul-min {
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 40 * 18px / 1000;
          }

          @include ul {
            font-size: 11px;
            line-height: 16px;
            letter-spacing: 30 * 11px / 1000;
          }

          @include xl {
            width: 160px;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 40 * 18px / 1000;
          }
        }
      }
    }

    &-subscribe {
      margin-top: 10px;
      margin-bottom: 40px;

      &-wrapper {
        padding-top: 140px;
        padding-bottom: 120px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 6px; 
      }

      &-title {
        margin-bottom: 45px;
        color: #ffffff;
        font-family: 'HelveticaNeue Light';
        font-size: 55px;
        line-height: 72px;
        letter-spacing: 20 * 55px / 1000;

        @include ul-min {
          font-size: 37px;
          line-height: 48px;
          letter-spacing: 40 * 37px / 1000;
        }

        @include ul {
          font-size: 28px;
          line-height: 36px;
          letter-spacing: 40 * 28px / 1000;
        }

        @include xl {
          font-size: 32px;
          line-height: 40px;
          letter-spacing: 40 * 32px / 1000;
        }
      }

      &-button {
        display: inline-block;
        @extend %button;
        color: #ffffff;
        font-family: 'HelveticaNeue-Roman';
        font-size: 28px;
        line-height: 44px;
        letter-spacing: 40 * 28px / 1000;

        @include ul-min {
          font-size: 19px;
          line-height: 30px;
          letter-spacing: 40 * 19px / 1000;
        }

        @include ul {
          font-size: 19px;
          line-height: 30px;
          letter-spacing: 40 * 19px / 1000;
        }

        @include xl {
          width: 160px;
        }

        &:hover,
        &:focus {
          color: #ffffff;
        }
      }
    }

    &-more {
      margin-top: 90px;
      margin-bottom: 90px;

      @include ul-min {
        margin-top: 60px;
        margin-bottom: 60px;
      }

      @include ul {
        margin-top: 40px;
        margin-bottom: 50px;
      }

      &-loading {
        display: inline-block;
        @include loader10(18px, $color-primary);
        
        @include ul-min {
          @include loader10(16px, $color-primary);
        }

        @include ul {
          @include loader10(14px, $color-primary);
        }

      }

      &-text {
        color: #acafb0;
        font-family: 'HelveticaNeue Medium';
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 40 * 22px / 1000;
        text-transform: uppercase;

        @include ul-min {
          font-size: 15px;
          line-height: 21px;
          letter-spacing: 40 * 15px / 1000;
        }

        @include ul {
          font-size: 15px;
          line-height: 21px;
          letter-spacing: 40 * 15px / 1000;
        }
      }
    }
  }
}

.is-dropdown-submenu-parent a::after {

  @include xl {
    right: 0 !important;
  }
}