%button {
  width: 200px;
  border: 2px solid transparent;
  border-radius: 6px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;

  @include ul-min {
    width: 160px;
  }

  @include ul {
    width: 120px;
  }

  @include xl {
    width: 90px;
  }

  @include lg {
    width: 120px;
  }

  @include sm {
    width: 90px;
  }

  &:hover,
  &:focus,
  &.active {
    background-color: $color-primary;
    border: 2px solid transparent;
    outline: none;
  }
}


%badge {
  display: inline-block;
  width: 60px;
  border: 2px solid $color-secondary;
  border-radius: 6px;
  font-family: 'HelveticaNeue Medium';
  @include font-settings(24px, 32px, 1);
  text-align: center;
  vertical-align: middle;

  @include ul-min {
    width: 40px;
    font-size: 16px;
    line-height: 21px;
  }

  @include ul {
    width: 30px;
    font-size: 12px;
    line-height: 17px;
  }

  @include xl {
    width: 30px;
    font-size: 11px;
    line-height: 17px;
  }

  @include sm {
    width: 30px;
    font-size: 11px;
    line-height: 17px;
  }
}