%button {
  width: 200px;
  border: 2px solid transparent;
  border-radius: 6px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;

  &:hover,
  &:focus,
  &.active {
    background-color: $color-primary;
    border: 2px solid transparent;
    outline: none;
  }
}


%badge {
  display: inline-block;
  width: 60px;
  border: 2px solid $color-secondary;
  border-radius: 6px;
  font-family: 'HelveticaNeue Medium';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1 * 24px / 1000;
  text-align: center;
  vertical-align: middle;
}