@font-face {
  font-family: 'HelveticaNeue-Roman';
  src: url(../../libs/font/HelveticaNeue-Roman.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../../libs/font/HelveticaNeue.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica Neue Condensed Black';
  src: url(../../libs/font/HelveticaNeue-BlackCond.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeue Light';
  src: url(../../libs/font/HelveticaNeue-Light.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeue Bold';
  src: url(../../libs/font/HelveticaNeue-Bold.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeue Medium';
  src: url(../../libs/font/HelveticaNeue-Medium.ttf);
  font-style: normal;
  font-weight: normal;
}