.header {

  &__top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 50px;
    min-height: 130px;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);

    @include ul-min {
      padding-top: 20px;
    }

    &-logo {
      // padding: 0;

      &-link {
        display: block;
        color: #ffffff;
        font-family: 'Helvetica Neue Condensed Black';
        font-size: 50px;
        line-height: 65px;
        letter-spacing: 40 * 50px / 1000;

        @include ul-min {
          font-size: 30px;
        line-height: 32px;
        }
  
        &-light {
          font-family: 'Helvetica Neue';
          font-size: 50px;
          line-height: 65px;
          letter-spacing: 40 * 50px / 1000;

          @include ul-min {
            font-size: 30px;
            line-height: 32px;
          }
        }
      }
    }

    &-controls {
      // padding: 0;
      color: #ffffff;
      font-family: 'HelveticaNeue-Roman';
      font-size: 28px;
      line-height: 44px;
      letter-spacing: 40 * 50px / 1000;

      @include ul-min {
        font-size: 19px;
        line-height: 30px;
      }

      a {
        display: inline-block;
        color: #ffffff;
        margin-left: 16px;
      }
      
      &-signin,
      &-signup {
        @extend %button;
      }

      &-search i {
        font-size: 34px;
        vertical-align: middle;

        @include ul-min {
          font-size: 23px;
        }

        &:hover,
        &:focus {
          color: $color-primary; 
        }
      }
    }
  }

  &__slider {
    position: relative;

    &-items {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &-item {
      min-height: 45.8vw;
      display: flex !important;
      align-items: center;
      color: #ffffff;
      font-family: 'HelveticaNeue-Roman';

      &-caption {
        // padding-left: 0;
        // padding-right: 0;
      }

      &-title {
        margin-bottom: 20px;
        font-family: 'HelveticaNeue Bold';
        font-size: 60px;
        line-height: 48px;
        letter-spacing: 40 * 60px / 1000;
        text-transform: uppercase;

        @include ul-min {
          margin-bottom: 15px;
          font-size: 40px;
          line-height: 34px;
        }
      }

      &-categories {
        margin-bottom: 30px;

        @include ul-min {
          margin-bottom: 20px;
        }
        
        &-category {
          margin-right: 30px;
          font-size: 24px;
          line-height: 44px;
          letter-spacing: 40 * 24px / 1000;

          @include ul-min {
            font-size: 16px;
            line-height: 32px;
          }

          &:nth-last-of-type(4) {
            margin-right: 25px;
          }

          &:last-of-type {
            padding-left: 25px;
            border-left: 2px solid #ffffff;
          }
        }
      }

      &-rating {
        margin-bottom: 60px;

        @include ul-min {
          margin-bottom: 40px;
        }
       
        i {
          display: inline-block;
          margin-right: 14px;
          font-size: 36px;
          vertical-align: middle;

          @include ul-min {
            font-size: 24px;
          }
        }

        &-badge {
          @extend %badge;
        }
      }

      &-description {
        margin-bottom: 60px;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 1 * 32px / 1000;

        @include ul-min {
          margin-bottom: 40px;
          font-size: 21px;
          line-height: 34px;
        }
      }

      &-buttons {

        a {
          display: inline-block;
          margin-right: 40px;
          color: #ffffff;
          font-size: 28px;
          line-height: 44px;
          letter-spacing: 40 * 28px / 1000;

          @include ul-min {
            margin-right: 30px;
            font-size: 19px;
            line-height: 30px;
          }

          &:nth-last-child(2) {
            margin-right: 25px;

            @include ul-min {
              margin-right: 16px;
            }
          }
        }

        &-watch,
        &-info {
          @extend %button;
          border-color: #ffffff;
        }
        
        &-more {
          vertical-align: middle;
          
          i {
            font-size: 30px;
          }
        }

        &-favorites:hover,
        &-favorites:focus,
        &-more:hover,
        &-more:focus {
          color: $color-primary;
        }
      }
    }
  }
}