.header {

  &__top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 50px;
    min-height: 130px;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);

    @include ul-min {
      padding-top: 20px;
      min-height: 90px;
    }

    @include ul {
      padding-top: 10px;
      min-height: 50px;
    }

    &-logo {
      // padding: 0;

      @include md {
        align-self: flex-start;
      }

      &-link {
        display: block;
        color: #ffffff;
        font-family: 'Helvetica Neue Condensed Black';
        font-size: 50px;
        line-height: 65px;
        letter-spacing: 40 * 50px / 1000;

        @include ul-min {
          font-size: 30px;
          line-height: 32px;
          etter-spacing: 40 * 30px / 1000;
        }

        @include ul {
          font-size: 30px;
          line-height: 32px;
          etter-spacing: 40 * 30px / 1000;
        }

        &-light {
          font-family: 'Helvetica Neue';
          font-size: 50px;
          line-height: 65px;
          letter-spacing: 40 * 50px / 1000;

          @include ul-min {
            font-size: 30px;
            line-height: 32px;
          }

          @include ul {
            font-size: 30px;
            line-height: 32px;
            etter-spacing: 40 * 30px / 1000;
          }
        }
      }
    }

    &-controls {
      // padding: 0;
      
      color: #ffffff;
      font-family: 'HelveticaNeue-Roman';
      font-size: 28px;
      line-height: 44px;
      letter-spacing: 40 * 50px / 1000;

      @include ul-min {
        font-size: 19px;
        line-height: 30px;
        letter-spacing: 40 * 19px / 1000;
      }

      @include ul {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 40 * 16px / 1000;
      }

      @include md {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: wrap;
      }

      a {
        display: inline-block;
        color: #ffffff;
        margin-left: 16px;
      }
      
      &-signin,
      &-signup {
        @extend %button;

        @include xl {
          width: 120px;
        }

        @include md {
          margin-bottom: 10px;
        }
      }

      &-search i {
        font-size: 34px;
        vertical-align: middle;

        @include ul-min {
          font-size: 23px;
        }

        @include ul {
          font-size: 23px;
        }

        @include md {
          padding-right: 30px;
          margin-bottom: 10px;
        }

        &:hover,
        &:focus {
          color: $color-primary; 
        }
      }
    }
  }

  &__slider {
    position: relative;

    &-items {
      list-style: none;
      padding: 0;
      margin: 0;

      @include xl {
        margin-bottom: 10px !important;
      }

      @include xl {
        margin-bottom: 0 !important;
      }
    }

    &-item {
      min-height: 45.8vw;
      display: flex !important;
      align-items: center;
      color: #ffffff;
      font-family: 'HelveticaNeue-Roman';

      @include xl {
        min-height: 100vh;
      }

      @include sm {
        padding-bottom: 50px;
        align-items: flex-end;
      }

      &-caption {
        // padding-left: 0;
        // padding-right: 0;
      }

      &-title {
        margin-bottom: 20px;
        font-family: 'HelveticaNeue Bold';
        font-size: 60px;
        line-height: 48px;
        letter-spacing: 40 * 60px / 1000;
        text-transform: uppercase;

        @include ul-min {
          margin-bottom: 15px;
          font-size: 40px;
          line-height: 34px;
          letter-spacing: 40 * 40px / 1000;
        }

        @include ul {
          margin-bottom: 10px;
          font-size: 30px;
          line-height: 26px;
          letter-spacing: 40 * 30px / 1000;
        }

        @include sm {
          margin-bottom: 0;
          font-size: 25px;
          line-height: 26px;
          letter-spacing: 40 * 25px / 1000;
        }
      }

      &-categories {
        margin-bottom: 30px;

        @include ul-min {
          margin-bottom: 20px;
        }

        @include ul {
          margin-bottom: 10px;
        }

        @include sm {
          margin-bottom: 5px;
        }
        
        &-category {
          margin-right: 30px;
          font-size: 24px;
          line-height: 44px;
          letter-spacing: 40 * 24px / 1000;

          @include ul-min {
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 40 * 16px / 1000;
          }

          @include ul {
            margin-right: 20px;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 40 * 12px / 1000;
          }

          @include sm {
            margin-right: 10px;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: -20 * 12px / 1000;
          }

          

          &:last-of-type {
            padding-left: 25px;
            border-left: 2px solid #ffffff;

            @include sm {
              padding-left: 10px;
            }
          }
        }
      }

      &-rating {
        margin-bottom: 60px;

        @include ul-min {
          margin-bottom: 40px;
        }

        @include ul {
          margin-bottom: 20px;
        }

        @include sm {
          margin-bottom: 10px;
        }
       
        i {
          display: inline-block;
          margin-right: 14px;
          font-size: 36px;
          vertical-align: middle;

          @include ul-min {
            font-size: 24px;
          }

          @include ul {
            font-size: 18px;
          }
        }

        &-badge {
          @extend %badge;
        }
      }

      &-description {
        margin-bottom: 60px;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 1 * 32px / 1000;

        @include ul-min {
          margin-bottom: 40px;
          font-size: 21px;
          line-height: 34px;
          letter-spacing: 1 * 21px / 1000;
        }

        @include ul {
          margin-bottom: 20px;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 40 * 16px / 1000;
        }

        @include ul {
          text-align: justify;
        }
      }

      &-buttons {
        display: flex;
        align-items: center;

        @include ul {
          flex-direction: column;
          align-items: flex-start;
        }

        a {
          display: inline-block;
          margin-right: 40px;
          color: #ffffff;
          font-size: 28px;
          line-height: 44px;
          letter-spacing: 40 * 28px / 1000;

          @include ul-min {
            margin-right: 30px;
            font-size: 19px;
            line-height: 30px;
          }

          @include ul {
            margin-right: 0;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 40 * 16px / 1000;
          }

          @include sm {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 40 * 14px / 1000;
          }

          &:nth-last-child(2) {
            margin-right: 25px;

            @include ul-min {
              margin-right: 16px;
            }

            @include ul {
              margin-right: 10px;
            }
          }

          &:nth-last-child(1) {
            margin-right: 0;
          }
        }

        &-watch,
        &-info {
          @extend %button;
          border-color: #ffffff;

          @include xl {
            width: 120px;
          }

          @include sm {
            width: 120px;
          }
        }
        
        &-more {
          display: flex;
          align-items: center;
          
          i {
            display: flex;
            font-size: 30px;

            @include ul {
              font-size: 24px;
            }

            @include sm {
              font-size: 22px;
              margin-left: -7px;
            }
          }
        }

        &-favorites:hover,
        &-favorites:focus,
        &-more:hover,
        &-more:focus {
          color: $color-primary;
        }
      }
    }
  }
}