@font-face {
  font-family: 'HelveticaNeue-Roman';
  src: url(../../libs/font/HelveticaNeue-Roman.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../../libs/font/HelveticaNeue.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica Neue Condensed Black';
  src: url(../../libs/font/HelveticaNeue-BlackCond.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeue Light';
  src: url(../../libs/font/HelveticaNeue-Light.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeue Bold';
  src: url(../../libs/font/HelveticaNeue-Bold.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeue Medium';
  src: url(../../libs/font/HelveticaNeue-Medium.ttf);
  font-style: normal;
  font-weight: normal;
}

/* xl */
/* lg */
/* md */
/* sm */
/* xs */
.header__mobile-menu-sign-in-next, .header__top-controls-signin, .header__top-controls-signup, .header__slider-item-buttons-watch, .header__slider-item-buttons-info, .chart__list-item-info-more, .chart__list-item-full-info-watch, .chart__list-subscribe-button {
  width: 200px;
  border: 2px solid transparent;
  border-radius: 6px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.header__mobile-menu-sign-in-next:hover, .header__top-controls-signin:hover, .header__top-controls-signup:hover, .header__slider-item-buttons-watch:hover, .header__slider-item-buttons-info:hover, .chart__list-item-info-more:hover, .chart__list-item-full-info-watch:hover, .chart__list-subscribe-button:hover, .header__mobile-menu-sign-in-next:focus, .header__top-controls-signin:focus, .header__top-controls-signup:focus, .header__slider-item-buttons-watch:focus, .header__slider-item-buttons-info:focus, .chart__list-item-info-more:focus, .chart__list-item-full-info-watch:focus, .chart__list-subscribe-button:focus, .active.header__mobile-menu-sign-in-next, .active.header__top-controls-signin, .active.header__top-controls-signup, .active.header__slider-item-buttons-watch, .active.header__slider-item-buttons-info, .active.chart__list-item-info-more, .active.chart__list-item-full-info-watch, .active.chart__list-subscribe-button {
  background-color: #0aaee4;
  border: 2px solid transparent;
  outline: none;
}

.header__slider-item-rating-badge, .chart__list-item-badge, .chart__list-item-full-info-badge {
  display: inline-block;
  width: 60px;
  border: 2px solid #47c3f0;
  border-radius: 6px;
  font-family: 'HelveticaNeue Medium';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.024px;
  text-align: center;
  vertical-align: middle;
}

.header__mobile {
  background: black;
  height: auto;
}

.header__mobile-menu {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__mobile-menu-sign-in {
  margin-bottom: 20px;
}

.header__mobile-menu-sign-in p {
  margin-bottom: 10px;
  font-family: 'HelveticaNeue Bold';
  color: #0aaee4;
}

.header__mobile-menu-sign-in input {
  font-family: 'HelveticaNeue Bold';
}

.header__mobile-menu-sign-in input:focus {
  -webkit-box-shadow: 0 0 15px #0aaee4;
          box-shadow: 0 0 15px #0aaee4;
}

.header__mobile-menu-sign-in-next {
  font-family: 'HelveticaNeue Medium';
  color: #ffffff;
  display: inline-block;
}

.header__mobile-menu-sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__mobile-menu-sign-up span {
  font-family: 'HelveticaNeue Bold';
  color: #ffffff;
}

.header__mobile-menu-sign-up-create {
  font-family: 'HelveticaNeue Bold';
  color: #0aaee4;
}

.header__mobile-menu-close {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #ffffff;
}

.header__mobile-menu-close:hover, .header__mobile-menu-close:focus, .header__mobile-menu-close:active {
  color: #0aaee4;
}

.header__top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 50px;
  min-height: 130px;
  width: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}

.header__top-logo-link, .footer__logo-link {
  display: block;
  color: #ffffff;
  font-family: 'Helvetica Neue Condensed Black';
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 2px;
}

.header__top-logo-link-light, .footer__logo-link-light {
  font-family: 'Helvetica Neue';
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 2px;
}

.header__top-controls {
  color: #ffffff;
  font-family: 'HelveticaNeue-Roman';
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 2px;
}

.header__top-controls a {
  display: inline-block;
  color: #ffffff;
  margin-left: 16px;
}

.header__top-controls-search i {
  font-size: 34px;
  vertical-align: middle;
}

.header__top-controls-search i:hover, .header__top-controls-search i:focus {
  color: #0aaee4;
}

.header__top-controls-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.header__top-controls-mobile:hover, .header__top-controls-mobile:focus {
  color: #0aaee4;
}

.header__slider {
  position: relative;
}

.header__slider-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__slider-item {
  min-height: 45.8vw;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: 'HelveticaNeue-Roman';
}

.header__slider-item-title {
  margin-bottom: 20px;
  font-family: 'HelveticaNeue Bold';
  font-size: 60px;
  line-height: 48px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.header__slider-item-categories {
  margin-bottom: 30px;
}

.header__slider-item-categories-category {
  margin-right: 30px;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: 0.96px;
}

.header__slider-item-categories-category:last-of-type {
  padding-left: 25px;
  border-left: 2px solid #ffffff;
}

.header__slider-item-rating {
  margin-bottom: 60px;
}

.header__slider-item-rating i {
  display: inline-block;
  margin-right: 14px;
  font-size: 36px;
  vertical-align: middle;
}

.header__slider-item-description {
  margin-bottom: 60px;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.032px;
}

.header__slider-item-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__slider-item-buttons a {
  display: inline-block;
  margin-right: 40px;
  color: #ffffff;
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 1.12px;
}

.header__slider-item-buttons a:nth-last-child(2) {
  margin-right: 25px;
}

.header__slider-item-buttons a:nth-last-child(1) {
  margin-right: 0;
}

.header__slider-item-buttons-watch, .header__slider-item-buttons-info {
  border-color: #ffffff;
}

.header__slider-item-buttons-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__slider-item-buttons-more i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
}

.header__slider-item-buttons-favorites:hover, .header__slider-item-buttons-favorites:focus, .header__slider-item-buttons-more:hover, .header__slider-item-buttons-more:focus {
  color: #0aaee4;
}

.slick-dots {
  bottom: 75px;
}

html,
body {
  background-color: #f5f6f6;
  height: 100%;
  min-height: 100%;
}

.chart__wrapper {
  padding: 0;
}

.chart__menu {
  margin-bottom: 36px;
}

.chart__menu::after {
  margin-right: 15px;
  margin-left: 15px;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #e0e1e2;
}

.chart__menu-left-list-item {
  font-family: 'HelveticaNeue-Roman';
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 1.12px;
  border-bottom: 4px solid transparent;
}

.chart__menu-left-list-item-link {
  padding: 1rem !important;
}

.chart__menu-left-list-item:first-of-type a {
  padding: 1rem 1rem 1rem 0 !important;
}

.chart__menu-left-list-item:hover, .chart__menu-left-list-item:focus, .chart__menu-left-list-item:active {
  border-bottom: 4px solid #0aaee4;
}

.chart__menu-left-list-item:hover .chart__menu-left-list-item-link,
.chart__menu-left-list-item:focus .chart__menu-left-list-item-link,
.chart__menu-left-list-item:active .chart__menu-left-list-item-link {
  font-weight: bold;
}

.chart__menu-left-list-item .is-dropdown-submenu-item:hover,
.chart__menu-left-list-item .is-dropdown-submenu-item:focus,
.chart__menu-left-list-item .is-dropdown-submenu-item:active {
  font-weight: bold;
}

.chart__menu-right li:last-of-type a {
  padding: 0 0 0 1rem !important;
}

.chart__menu-right-list-item {
  padding: 0 1rem 0 1rem !important;
}

.chart__menu-right-list-item i {
  color: #d6d8d8;
  font-size: 46px;
}

.chart__menu-right-list-item i:hover, .chart__menu-right-list-item i:focus, .chart__menu-right-list-item i:active {
  color: #0aaee4;
}

.chart__list-item .card {
  margin-bottom: 30px;
  position: relative;
  border-radius: 6px;
}

.chart__list-item .card:hover .chart__list-item-info {
  opacity: 1;
}

.chart__list-item .card-section {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 20%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
}

.chart__list-item-title {
  text-transform: uppercase;
  font-family: 'HelveticaNeue Bold';
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 1.12px;
}

.chart__list-item-genre {
  color: #47c3f0;
  font-family: 'HelveticaNeue Medium';
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.88px;
}

.chart__list-item-genre span::after {
  content: ', ';
}

.chart__list-item-genre span:last-child::after {
  content: none;
}

.chart__list-item-badge {
  color: #47c3f0;
}

.chart__list-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.68);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.chart__list-item-info-play {
  display: inline-block;
  position: relative;
}

.chart__list-item-info-play::before {
  content: '';
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  background-color: #ffffff;
}

.chart__list-item-info-play i {
  position: relative;
  color: #0aaee4;
  font-size: 125px;
}

.chart__list-item-info-caption {
  margin-bottom: 50px;
  color: #ffffff;
  font-family: 'HelveticaNeue-Roman';
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 1.12px;
}

.chart__list-item-info-more {
  border-color: #ffffff;
  color: #ffffff;
  font-family: 'HelveticaNeue-Roman';
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 1.12px;
}

.chart__list-item-full-info {
  padding: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.68);
}

.chart__list-item-full-info__row1 {
  margin-bottom: 40px;
}

.chart__list-item-full-info-clear {
  margin-left: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chart__list-item-full-info-clear i {
  font-size: 34px;
  color: #ffffff;
}

.chart__list-item-full-info-clear:hover i,
.chart__list-item-full-info-clear:focus i {
  color: #0aaee4;
  cursor: pointer;
}

.chart__list-item-full-info-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chart__list-item-full-info-buttons-favorites {
  color: #ffffff;
  font-family: 'HelveticaNeue-Roman';
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 1.12px;
}

.chart__list-item-full-info-buttons-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chart__list-item-full-info-buttons-more i {
  margin-right: -14px;
  vertical-align: bottom;
  color: #ffffff;
  font-size: 30px;
}

.chart__list-item-full-info-buttons-favorites:hover, .chart__list-item-full-info-buttons-favorites:focus,
.chart__list-item-full-info-buttons-more:hover i,
.chart__list-item-full-info-buttons-more:focus i {
  color: #0aaee4;
}

.chart__list-item-full-info__row2 {
  margin-bottom: 40px;
}

.chart__list-item-full-info-title {
  margin-bottom: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'HelveticaNeue Bold';
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 1.12px;
}

.chart__list-item-full-info-title:hover, .chart__list-item-full-info-title:focus {
  color: #0aaee4;
}

.chart__list-item-full-info-genre {
  color: #47c3f0;
  font-family: 'HelveticaNeue Medium';
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.88px;
}

.chart__list-item-full-info-genre span::after {
  content: ', ';
}

.chart__list-item-full-info-genre span:last-child::after {
  content: none;
}

.chart__list-item-full-info-badge {
  color: #47c3f0;
}

.chart__list-item-full-info__row3 {
  margin-bottom: 40px;
}

.chart__list-item-full-info-description {
  text-align: justify;
  color: #ffffff;
  font-family: 'HelveticaNeue Medium';
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.88px;
}

.chart__list-item-full-info-watch {
  display: inline-block;
  border-color: #ffffff;
  color: #ffffff;
  font-family: 'HelveticaNeue-Roman';
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 1.12px;
}

.chart__list-subscribe {
  margin-top: 10px;
  margin-bottom: 40px;
}

.chart__list-subscribe-wrapper {
  padding-top: 140px;
  padding-bottom: 120px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}

.chart__list-subscribe-title {
  margin-bottom: 45px;
  color: #ffffff;
  font-family: 'HelveticaNeue Light';
  font-size: 55px;
  line-height: 72px;
  letter-spacing: 1.1px;
}

.chart__list-subscribe-button {
  display: inline-block;
  color: #ffffff;
  font-family: 'HelveticaNeue-Roman';
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 1.12px;
}

.chart__list-subscribe-button:hover, .chart__list-subscribe-button:focus {
  color: #ffffff;
}

.chart__list-more {
  margin-top: 90px;
  margin-bottom: 90px;
}

.chart__list-more-loading {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: relative;
  -webkit-animation: loader10-uf1811d43 1s ease alternate infinite;
          animation: loader10-uf1811d43 1s ease alternate infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  top: -18px;
}

.chart__list-more-loading::after, .chart__list-more-loading::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-animation: loader10-uf1811d43 1s ease alternate infinite;
          animation: loader10-uf1811d43 1s ease alternate infinite;
}

.chart__list-more-loading::before {
  left: -30px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.chart__list-more-loading::after {
  right: -30px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes loader10-uf1811d43 {
  0% {
    -webkit-box-shadow: 0 18px 0 -18px #0aaee4;
            box-shadow: 0 18px 0 -18px #0aaee4;
  }
  100% {
    -webkit-box-shadow: 0 18px 0 #0aaee4;
            box-shadow: 0 18px 0 #0aaee4;
  }
}

@keyframes loader10-uf1811d43 {
  0% {
    -webkit-box-shadow: 0 18px 0 -18px #0aaee4;
            box-shadow: 0 18px 0 -18px #0aaee4;
  }
  100% {
    -webkit-box-shadow: 0 18px 0 #0aaee4;
            box-shadow: 0 18px 0 #0aaee4;
  }
}

.chart__list-more-text {
  color: #acafb0;
  font-family: 'HelveticaNeue Medium';
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.88px;
  text-transform: uppercase;
}

.title-bar {
  background: #000000;
  margin-bottom: 15px;
}

.footer {
  padding-top: 68px;
  background-color: #ffffff;
}

.footer__top {
  padding-bottom: 68px;
}

.footer__menu-link {
  margin-right: 20px;
  font-family: 'HelveticaNeue-Roman';
  color: #cecfcf;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: 0.96px;
}

.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active {
  color: #0aaee4;
}

.footer__logo-link {
  color: #0aaee4;
}

.footer__logo-link:hover, .footer__logo-link:focus {
  color: #0aaee4;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__social-item {
  margin-left: 25px;
  font-size: 34px;
  color: #cecfcf;
}

.footer__social-item:hover, .footer__social-item:focus {
  color: #0aaee4;
}

.footer__copyright {
  margin-bottom: 50px;
  font-family: 'HelveticaNeue-Roman';
  color: #a7aaab;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: 1.12px;
}

.footer__copyright-bold {
  font-family: 'Helvetica Neue Condensed Black';
}

.footer__copyright-light {
  font-family: 'HelveticaNeue Light';
}

@media (max-width: 2100px) and (min-width: 1440px) {
  .header__mobile-menu-sign-in-next, .header__top-controls-signin, .header__top-controls-signup, .header__slider-item-buttons-watch, .header__slider-item-buttons-info, .chart__list-item-info-more, .chart__list-item-full-info-watch, .chart__list-subscribe-button {
    width: 160px;
  }
  .header__slider-item-rating-badge, .chart__list-item-badge, .chart__list-item-full-info-badge {
    width: 40px;
    font-size: 16px;
    line-height: 21px;
  }
  .header__top {
    padding-top: 20px;
    min-height: 90px;
  }
  .header__top-logo-link, .footer__logo-link {
    font-size: 30px;
    line-height: 32px;
    etter-spacing: 1.2px;
  }
  .header__top-logo-link-light, .footer__logo-link-light {
    font-size: 30px;
    line-height: 32px;
  }
  .header__top-controls {
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.76px;
  }
  .header__top-controls-search i {
    font-size: 23px;
  }
  .header__slider-item-title {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 34px;
    letter-spacing: 1.6px;
  }
  .header__slider-item-categories {
    margin-bottom: 20px;
  }
  .header__slider-item-categories-category {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.64px;
  }
  .header__slider-item-rating {
    margin-bottom: 40px;
  }
  .header__slider-item-rating i {
    font-size: 24px;
  }
  .header__slider-item-description {
    margin-bottom: 40px;
    font-size: 21px;
    line-height: 34px;
    letter-spacing: 0.021px;
  }
  .header__slider-item-buttons a {
    margin-right: 30px;
    font-size: 19px;
    line-height: 30px;
  }
  .header__slider-item-buttons a:nth-last-child(2) {
    margin-right: 16px;
  }
  .chart__menu {
    margin-bottom: 24px;
  }
  .chart__menu-left-list-item {
    font-size: 19px;
    line-height: 40px;
    letter-spacing: 0.76px;
  }
  .chart__menu-right-list-item {
    padding: 0 0 0 1rem !important;
  }
  .chart__menu-right-list-item i {
    font-size: 33px;
  }
  .chart__list-item-title {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.72px;
  }
  .chart__list-item-genre {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.6px;
  }
  .chart__list-item-info-caption {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.72px;
  }
  .chart__list-item-info-more {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.72px;
  }
  .chart__list-item-full-info {
    padding: 18px;
  }
  .chart__list-item-full-info__row1 {
    margin-bottom: 30px;
  }
  .chart__list-item-full-info-clear i {
    font-size: 22px;
  }
  .chart__list-item-full-info-buttons-favorites {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.72px;
  }
  .chart__list-item-full-info__row2 {
    margin-bottom: 30px;
  }
  .chart__list-item-full-info-title {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.72px;
  }
  .chart__list-item-full-info-genre {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.6px;
  }
  .chart__list-item-full-info__row3 {
    margin-bottom: 30px;
  }
  .chart__list-item-full-info-description {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.6px;
  }
  .chart__list-item-full-info-watch {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.72px;
  }
  .chart__list-subscribe-title {
    font-size: 37px;
    line-height: 48px;
    letter-spacing: 1.48px;
  }
  .chart__list-subscribe-button {
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.76px;
  }
  .chart__list-more {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .chart__list-more-loading {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    -webkit-animation: loader10-u89dbf6f6 1s ease alternate infinite;
            animation: loader10-u89dbf6f6 1s ease alternate infinite;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
    top: -16px;
  }
  .chart__list-more-loading::after, .chart__list-more-loading::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    -webkit-animation: loader10-u89dbf6f6 1s ease alternate infinite;
            animation: loader10-u89dbf6f6 1s ease alternate infinite;
  }
  .chart__list-more-loading::before {
    left: -28px;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .chart__list-more-loading::after {
    right: -28px;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  @-webkit-keyframes loader10-u89dbf6f6 {
    0% {
      -webkit-box-shadow: 0 16px 0 -16px #0aaee4;
              box-shadow: 0 16px 0 -16px #0aaee4;
    }
    100% {
      -webkit-box-shadow: 0 16px 0 #0aaee4;
              box-shadow: 0 16px 0 #0aaee4;
    }
  }
  @keyframes loader10-u89dbf6f6 {
    0% {
      -webkit-box-shadow: 0 16px 0 -16px #0aaee4;
              box-shadow: 0 16px 0 -16px #0aaee4;
    }
    100% {
      -webkit-box-shadow: 0 16px 0 #0aaee4;
              box-shadow: 0 16px 0 #0aaee4;
    }
  }
  .chart__list-more-text {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.6px;
  }
  .footer__top {
    padding-bottom: 48px;
  }
  .footer__menu-link {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.64px;
  }
  .footer__social-item {
    font-size: 22px;
  }
  .footer__copyright {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.64px;
  }
}

@media (max-width: 1439px) {
  .header__mobile-menu-sign-in-next, .header__top-controls-signin, .header__top-controls-signup, .header__slider-item-buttons-watch, .header__slider-item-buttons-info, .chart__list-item-info-more, .chart__list-item-full-info-watch, .chart__list-subscribe-button {
    width: 120px;
  }
  .header__slider-item-rating-badge, .chart__list-item-badge, .chart__list-item-full-info-badge {
    width: 30px;
    font-size: 12px;
    line-height: 17px;
  }
  .header__top {
    padding-top: 10px;
    min-height: 50px;
  }
  .header__top-logo-link, .footer__logo-link {
    font-size: 30px;
    line-height: 32px;
    etter-spacing: 1.2px;
  }
  .header__top-logo-link-light, .footer__logo-link-light {
    font-size: 30px;
    line-height: 32px;
    etter-spacing: 1.2px;
  }
  .header__top-controls {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.64px;
  }
  .header__top-controls-search i {
    font-size: 23px;
  }
  .header__slider-item {
    min-height: 100vh;
  }
  .header__slider-item-title {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 26px;
    letter-spacing: 1.2px;
  }
  .header__slider-item-categories {
    margin-bottom: 10px;
  }
  .header__slider-item-categories-category {
    margin-right: 20px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.48px;
  }
  .header__slider-item-rating {
    margin-bottom: 20px;
  }
  .header__slider-item-rating i {
    font-size: 18px;
  }
  .header__slider-item-description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.64px;
  }
  .header__slider-item-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__slider-item-buttons a {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.64px;
  }
  .header__slider-item-buttons a:nth-last-child(2) {
    margin-right: 10px;
  }
  .header__slider-item-buttons-more i {
    font-size: 24px;
  }
  .chart__menu {
    margin-bottom: 24px;
  }
  .chart__menu-left-list-item {
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.64px;
  }
  .chart__menu-right-list-item i {
    font-size: 27px;
  }
  .chart__list-item .card-section {
    padding: 8px;
  }
  .chart__list-item-title {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.36px;
  }
  .chart__list-item-genre {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.33px;
  }
  .chart__list-item-info-play::before {
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
  }
  .chart__list-item-info-play i {
    font-size: 75px;
  }
  .chart__list-item-info-caption {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.56px;
  }
  .chart__list-item-info-more {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.56px;
  }
  .chart__list-item-full-info {
    padding: 10px;
  }
  .chart__list-item-full-info__row1 {
    margin-bottom: 17px;
  }
  .chart__list-item-full-info-clear i {
    font-size: 16px;
  }
  .chart__list-item-full-info-buttons-favorites {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.56px;
  }
  .chart__list-item-full-info-buttons-more i {
    margin-right: -10px;
    font-size: 18px;
  }
  .chart__list-item-full-info__row2 {
    margin-bottom: 17px;
  }
  .chart__list-item-full-info-title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.42px;
  }
  .chart__list-item-full-info-genre {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.33px;
  }
  .chart__list-item-full-info__row3 {
    margin-bottom: 17px;
  }
  .chart__list-item-full-info-description {
    margin-bottom: 0;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.33px;
  }
  .chart__list-item-full-info-watch {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.33px;
  }
  .chart__list-subscribe-title {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1.12px;
  }
  .chart__list-subscribe-button {
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.76px;
  }
  .chart__list-more {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .chart__list-more {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .chart__list-more-loading {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: relative;
    -webkit-animation: loader10-u36e17bdc 1s ease alternate infinite;
            animation: loader10-u36e17bdc 1s ease alternate infinite;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
    top: -14px;
  }
  .chart__list-more-loading::after, .chart__list-more-loading::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -webkit-animation: loader10-u36e17bdc 1s ease alternate infinite;
            animation: loader10-u36e17bdc 1s ease alternate infinite;
  }
  .chart__list-more-loading::before {
    left: -26px;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .chart__list-more-loading::after {
    right: -26px;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  @-webkit-keyframes loader10-u36e17bdc {
    0% {
      -webkit-box-shadow: 0 14px 0 -14px #0aaee4;
              box-shadow: 0 14px 0 -14px #0aaee4;
    }
    100% {
      -webkit-box-shadow: 0 14px 0 #0aaee4;
              box-shadow: 0 14px 0 #0aaee4;
    }
  }
  @keyframes loader10-u36e17bdc {
    0% {
      -webkit-box-shadow: 0 14px 0 -14px #0aaee4;
              box-shadow: 0 14px 0 -14px #0aaee4;
    }
    100% {
      -webkit-box-shadow: 0 14px 0 #0aaee4;
              box-shadow: 0 14px 0 #0aaee4;
    }
  }
  .chart__list-more-text {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.6px;
  }
  .footer {
    padding-top: 40px;
  }
  .footer__top {
    padding-bottom: 36px;
  }
  .footer__menu-link {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.56px;
  }
  .footer__social-item {
    font-size: 18px;
  }
  .footer__copyright {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.56px;
  }
}

@media (max-width: 1439px) and (orientation: landscape) {
  .header__slider-item-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1023px) {
  .header__mobile-menu-sign-in-next, .header__top-controls-signin, .header__top-controls-signup, .header__slider-item-buttons-watch, .header__slider-item-buttons-info, .chart__list-item-info-more, .chart__list-item-full-info-watch, .chart__list-subscribe-button {
    width: 90px;
  }
  .header__slider-item-rating-badge, .chart__list-item-badge, .chart__list-item-full-info-badge {
    width: 30px;
    font-size: 11px;
    line-height: 17px;
  }
  .header__top-controls-signin, .header__top-controls-signup {
    width: 120px;
  }
  .header__slider-items {
    margin-bottom: 10px !important;
  }
  .header__slider-item-buttons-watch, .header__slider-item-buttons-info {
    width: 120px;
  }
  .chart__menu {
    margin-bottom: 10px;
  }
  .chart__menu-left-list-item-link {
    padding: 0.5rem !important;
  }
  .chart__menu-left-list-item:first-of-type a {
    padding: 0.5rem 0.5rem 0.5rem 0 !important;
  }
  .chart__list-item-title {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.88px;
  }
  .chart__list-item-genre {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.18px;
  }
  .chart__list-item-badge {
    width: 40px;
    font-size: 16px;
    line-height: 25px;
  }
  .chart__list-item-info-play::before {
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
  }
  .chart__list-item-info-play i {
    font-size: 125px;
  }
  .chart__list-item-info-caption {
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.88px;
  }
  .chart__list-item-info-more {
    width: 160px;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.88px;
  }
  .chart__list-item-full-info {
    padding: 15px;
  }
  .chart__list-item-full-info__row1 {
    margin-bottom: 30px;
  }
  .chart__list-item-full-info-clear i {
    font-size: 22px;
  }
  .chart__list-item-full-info-buttons-favorites {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.72px;
  }
  .chart__list-item-full-info__row2 {
    margin-bottom: 30px;
  }
  .chart__list-item-full-info-title {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.72px;
  }
  .chart__list-item-full-info-genre {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.6px;
  }
  .chart__list-item-full-info__row3 {
    margin-bottom: 30px;
  }
  .chart__list-item-full-info-description {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.6px;
  }
  .chart__list-item-full-info-watch {
    width: 160px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.72px;
  }
  .chart__list-subscribe-title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1.28px;
  }
  .chart__list-subscribe-button {
    width: 160px;
  }
  .is-dropdown-submenu-parent a::after {
    right: 0 !important;
  }
  .footer__logo {
    margin-top: 30px;
  }
}

@media (max-width: 831px) {
  .header__mobile-menu-sign-in-next, .header__top-controls-signin, .header__top-controls-signup, .header__slider-item-buttons-watch, .header__slider-item-buttons-info, .chart__list-item-info-more, .chart__list-item-full-info-watch, .chart__list-subscribe-button {
    width: 120px;
  }
  .chart__menu-left-list-item {
    font-size: 15px;
    line-height: 40px;
    letter-spacing: -0.15px;
    border-bottom: 2px solid transparent;
  }
  .chart__menu-left-list-item-link {
    padding: 0.25rem !important;
  }
  .chart__menu-left-list-item:first-of-type a {
    padding: 0.25rem 0.25rem 0.25rem 0 !important;
  }
  .chart__menu-left-list-item:hover, .chart__menu-left-list-item:focus, .chart__menu-left-list-item:active {
    border-bottom: 2px solid #0aaee4;
  }
  .chart__menu-right-list-item i {
    font-size: 24px;
  }
  .chart__list-item-title {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.36px;
  }
  .chart__list-item-genre {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.42px;
  }
  .chart__list-item-info-play::before {
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
  }
  .chart__list-item-info-play i {
    font-size: 95px;
  }
  .chart__list-item-info-more {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.72px;
  }
  .chart__list-item-full-info {
    padding: 10px;
  }
  .chart__list-item-full-info__row1 {
    margin-bottom: 17px;
  }
  .chart__list-item-full-info-clear i {
    font-size: 16px;
  }
  .chart__list-item-full-info-buttons-favorites {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.56px;
  }
  .chart__list-item-full-info__row2 {
    margin-bottom: 17px;
  }
  .chart__list-item-full-info-title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.42px;
  }
  .chart__list-item-full-info-genre {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.33px;
  }
  .chart__list-item-full-info-watch {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.42px;
  }
  .is-dropdown-submenu-parent a::after {
    top: 11px;
    right: -5px !important;
  }
}

@media (max-width: 831px) and (orientation: landscape) {
  .header__top-controls {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.56px;
  }
  .header__slider-item {
    margin-bottom: 0px;
  }
  .header__slider-item-title {
    margin-bottom: 0;
    font-size: 25px;
    line-height: 26px;
    letter-spacing: 1px;
  }
  .header__slider-item-categories {
    margin-bottom: 0;
  }
  .header__slider-item-rating {
    margin-bottom: 0;
  }
  .header__slider-item-rating i {
    font-size: 14px;
  }
  .header__slider-item-description {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.48px;
  }
  .header__slider-item-buttons a {
    margin-right: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.56px;
  }
  .slick-dots {
    bottom: 45px;
  }
}

@media (max-width: 639px) {
  .header__top-logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .header__top-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__top-controls-signin, .header__top-controls-signup {
    margin-bottom: 10px;
  }
  .header__top-controls-search i {
    padding-right: 30px;
    margin-bottom: 10px;
  }
  .header__slider-items {
    margin-bottom: 0 !important;
  }
  .header__slider-item-description {
    padding-right: 40px;
    text-align: justify;
  }
  .chart__list-item .card {
    margin-bottom: 15px;
  }
  .chart__list-item-title {
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0.92px;
  }
  .chart__list-item-genre {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.18px;
  }
  .chart__list-item-info-play::before {
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
  }
  .chart__list-item-info-play i {
    font-size: 125px;
  }
  .chart__list-item-info-more {
    width: 160px;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.88px;
  }
  .chart__list-item-full-info {
    padding: 15px;
  }
  .chart__list-item-full-info__row1 {
    margin-bottom: 30px;
  }
  .chart__list-item-full-info-clear i {
    font-size: 22px;
  }
  .chart__list-item-full-info-clear i {
    font-size: 16px;
  }
  .chart__list-item-full-info-buttons-favorites {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.72px;
  }
  .chart__list-item-full-info__row2 {
    margin-bottom: 30px;
  }
  .chart__list-item-full-info-title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.8px;
  }
  .chart__list-item-full-info-genre {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.6px;
  }
  .chart__list-item-full-info-badge {
    width: 40px;
    font-size: 16px;
    line-height: 25px;
  }
  .chart__list-item-full-info-description {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.64px;
  }
  .chart__list-item-full-info-watch {
    width: 160px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.72px;
  }
  .chart__list-subscribe {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .footer {
    padding-top: 20px;
  }
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .footer__menu-link:last-of-type {
    margin-right: 0;
  }
  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__social-item {
    font-size: 20px;
  }
  .footer__social-item:first-of-type {
    margin-left: 0;
  }
}

@media (max-width: 424px) {
  .header__mobile-menu-sign-in-next, .header__top-controls-signin, .header__top-controls-signup, .header__slider-item-buttons-watch, .header__slider-item-buttons-info, .chart__list-item-info-more, .chart__list-item-full-info-watch, .chart__list-subscribe-button {
    width: 90px;
  }
  .header__slider-item-rating-badge, .chart__list-item-badge, .chart__list-item-full-info-badge {
    width: 30px;
    font-size: 11px;
    line-height: 17px;
  }
  .header__slider-item {
    padding-bottom: 50px;
  }
  .header__slider-item-title {
    margin-bottom: 0;
    font-size: 25px;
    line-height: 26px;
    letter-spacing: 1px;
  }
  .header__slider-item-categories {
    margin-bottom: 5px;
  }
  .header__slider-item-categories-category {
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.24px;
  }
  .header__slider-item-categories-category:last-of-type {
    padding-left: 10px;
  }
  .header__slider-item-rating {
    margin-bottom: 10px;
  }
  .header__slider-item-description {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.48px;
  }
  .header__slider-item-buttons {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__slider-item-buttons a {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.56px;
  }
  .header__slider-item-buttons-watch, .header__slider-item-buttons-info {
    width: 120px;
  }
  .header__slider-item-buttons-more i {
    font-size: 22px;
    margin-left: -7px;
  }
  .chart__list-item-title {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.36px;
  }
  .chart__list-item-genre {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.42px;
  }
  .chart__list-item-info-play::before {
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
  }
  .chart__list-item-info-play i {
    font-size: 75px;
  }
  .chart__list-item-info-caption {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.56px;
  }
  .chart__list-item-info-more {
    width: 120px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.72px;
  }
  .chart__list-item-full-info {
    padding: 10px;
  }
  .chart__list-item-full-info__row1 {
    margin-bottom: 17px;
  }
  .chart__list-item-full-info__row2 {
    margin-bottom: 17px;
  }
  .chart__list-item-full-info-title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.42px;
  }
  .chart__list-item-full-info-genre {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.33px;
  }
  .chart__list-item-full-info-description {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.42px;
  }
  .chart__list-item-full-info-watch {
    width: 120px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.42px;
  }
}
