- var lang = 'en'
- var siteName = 'My Site'
- var myTitle = 'Main Page'
- var myDescription = 'Page Description'
- var cssPath = 'assets/css'
- var jQuery3 = true
- var bootstrap4Global = false
- var bootstrap4Local = false
- var foundationLocal = true
- var googleFonts = false
//- - var googleFonts = 'Chilanka:400,500i|Roboto'
- var fontAwesome = true
- var materialIcons = true