.footer__top.row.align-justify.align-middle
  .footer__menu.column.small-12.medium-6.medium-order-1.large-4.large-order-1
    a.footer__menu-link(href="#") About
    a.footer__menu-link(href="#") Terms of Service
    a.footer__menu-link(href="#") Contact
  .footer__logo.column.small-12.medium-12.medium-order-3.large-4.large-order-2.text-center
    a.footer__logo-link(href="#") MOVIE
      span.footer__logo-link-light RISE
  .footer__social.column.small-12.medium-6.medium-order-2.large-4.large-order-3
    a.footer__social-item(href="#")
      <i class="fab fa-facebook-f"></i>
    a.footer__social-item(href="#")
      <i class="fab fa-twitter"></i>
    a.footer__social-item(href="#")
      <i class="fab fa-pinterest-p"></i>
    a.footer__social-item(href="#")
      <i class="fab fa-instagram"></i>
    a.footer__social-item(href="#")
      <i class="fab fa-youtube"></i>
.row
  .column.text-center
    .footer__copyright 
      span Copyright © 2017 
      span.footer__copyright-bold MOVIE
      span.footer__copyright-light RISE. All Rights Reserved.
