include ../mixins/_mixins.pug

.header__mobile.off-canvas.position-top(id="offCanvasTop1" data-off-canvas data-transition="overlap")
  .header__mobile-menu
    .row
      .header__mobile-menu-sign-in.column
        p Sign In:
        input(type="text" placeholder="Enter your login")
        input(type="text" placeholder="Enter your password")
        a.header__mobile-menu-sign-in-next.active(href="#") Next
    .row
      .header__mobile-menu-sign-up.column
        span Or create your own account&nbsp;
        a.header__mobile-menu-sign-up-create(href="#") for free
    <i class="header__mobile-menu-close material-icons" data-close>close</i>
.off-canvas-content(data-off-canvas-content)
  .header__top
    .row.align-justify.align-middle
      .header__top-logo.columns.shrink
        a.header__top-logo-link(href="#") MOVIE
          span.header__top-logo-link-light RISE
      .header__top-controls.columns.text-right
        .hide-for-small-only
          a.header__top-controls-search(href="#") 
            i(class="material-icons") search
          a.header__top-controls-signin.header__top-button(href="#") Sign In
          a.header__top-controls-signup.header__top-button.active(href="#") Sign Up
        .header__top-controls-mobile.show-for-small-only.align-middle
          <i class="material-icons" data-toggle="offCanvasTop1">person</i>
  .header__slider
    ul.header__slider-items
      each item in [{image: 'assets/img/b0.jpg', name: 'The Jungle Book', genre: {1: 'Adventure', 2: 'Drama', 3: 'Family', 4: 'Fantasy'}, time: '1h 46m', rating: '4.8', description: 'After a threat from Shere Khan forces him to flee the jungle, Mowgli embarks on a journey of self discovery with the help of panther, Bagheera, and free spirited bear, Baloo.'}, {image: 'assets/img/b2.jpg', name: 'The Jungle Book', genre: {1: 'Adventure', 2: 'Drama', 3: 'Family', 4: 'Fantasy'}, time: '1h 46m', rating: '4.8', description: 'After a threat from Shere Khan forces him to flee the jungle, Mowgli embarks on a journey of self discovery with the help of panther, Bagheera, and free spirited bear, Baloo.'}, {image: 'assets/img/b3.jpg', name: 'The Jungle Book', genre: {1: 'Adventure', 2: 'Drama', 3: 'Family', 4: 'Fantasy'}, time: '1h 46m', rating: '4.8', description: 'After a threat from Shere Khan forces him to flee the jungle, Mowgli embarks on a journey of self discovery with the help of panther, Bagheera, and free spirited bear, Baloo.'}]
        +sliderItem(item)