section.chart__list
  .row
    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        .chart__list-item-full-info
          .row.chart__list-item-full-info__row1
            .column.small-6.chart__list-item-full-info-clear
              i(class="material-icons") clear
            .column.small-6.chart__list-item-full-info-buttons
              a.chart__list-item-full-info-buttons-favorites(href="#") + Favorites
              a.chart__list-item-full-info-buttons-more(href="#")
                i(class="material-icons") more_vert
          .row.chart__list-item-full-info__row2
            .column.small-9
              a(href="#").chart__list-item-full-info-title Fantastic Beasts...
              div.chart__list-item-full-info-genre
                span Adveture
                span Family
                span Fantasy
            .column.small-3.text-right
              span.chart__list-item-full-info-badge 4.7
          .row.chart__list-item-full-info__row3
            .column
              p.chart__list-item-full-info-description There are growing dangers in the wizarding world of 1926 New York.  Something mysterious is leaving a path of destruction in the streets, threatening to expose the wizarding community to the Second Salemers, a fanatical faction of No-Majs (American for Muggles) bent on eradicating them.
          .row
            .column
              a.chart__list-item-full-info-watch(href="#") Watch Now
        <img src="assets/img/1.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title Fantastic Beasts...
            div.chart__list-item-genre
              span Adveture
              span Family
              span Fantasy
          .column.small-3
            span.chart__list-item-badge 4.7
        </div>
      </div>

    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        <img src="assets/img/2.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title Assassin’s Creed
            div.chart__list-item-genre
              span Action
              span Adveture
              span Fantasy
          .column.small-3.align-self-middle.text-center
            span.chart__list-item-badge 4.2
        </div>
      </div>

    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        <img src="assets/img/3.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title Now you see me 2
            div.chart__list-item-genre
              span Action
              span Adveture
              span Comedy
          .column.small-3.align-self-middle.text-center
            span.chart__list-item-badge 4.4
        </div>
      </div>

    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        <img src="assets/img/4.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title The Legend of Ta...
            div.chart__list-item-genre
              span Action
              span Adveture
              span Drama
          .column.small-3.align-self-middle.text-center
            span.chart__list-item-badge 4.3
        </div>
      </div>

    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        <img src="assets/img/5.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title Doctor Strange
            div.chart__list-item-genre
              span Action
              span Adveture
              span Fantasy
          .column.small-3.align-self-middle.text-center
            span.chart__list-item-badge 4.8
        </div>
      </div>

    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        <img src="assets/img/6.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title Captain America...
            div.chart__list-item-genre
              span Action
              span Adveture
              span Sci-Fi
          .column.small-3.align-self-middle.text-center
            span.chart__list-item-badge 4.9
        </div>
      </div>

    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        <img src="assets/img/7.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title Alice Through th...
            div.chart__list-item-genre
              span Adveture
              span Family
              span Fantasy
          .column.small-3.align-self-middle.text-center
            span.chart__list-item-badge 4.1
        </div>
      </div>

    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        <img src="assets/img/8.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title Finding Dory
            div.chart__list-item-genre
              span Animation
              span Adveture
              span Comedy
          .column.small-3.align-self-middle.text-center
            span.chart__list-item-badge 4.7
        </div>
      </div>

    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        <img src="assets/img/9.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title The BFG
            div.chart__list-item-genre
              span Adveture
              span Family
              span Fantasy
          .column.small-3.align-self-middle.text-center
            span.chart__list-item-badge 3.2
        </div>
      </div>

    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        <img src="assets/img/10.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title Independence Day
            div.chart__list-item-genre
              span Action
              span Sci-Fi
          .column.small-3.align-self-middle.text-center
            span.chart__list-item-badge 3.9
        </div>
      </div>

    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        <img src="assets/img/11.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title Ice Age: Collisio...
            div.chart__list-item-genre
              span Adveture
              span Comedy
          .column.small-3.align-self-middle.text-center
            span.chart__list-item-badge 4.5
        </div>
      </div>

    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        <img src="assets/img/12.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title Moana
            div.chart__list-item-genre
              span Action
              span Family
          .column.small-3.align-self-middle.text-center
            span.chart__list-item-badge 4.9
        </div>
      </div>

    .chart__list-subscribe.column.small-12
      .chart__list-subscribe-wrapper(style="background-image: url(assets/img/MovieCollage.jpg);")
        .row.align-center
          .column.small-12.medium-7
            h2.chart__list-subscribe-title Receive information on the latest hit movies straight to your inbox.
            a.chart__list-subscribe-button.active(href="#") Subscribe!
    
    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        <img src="assets/img/6.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title Captain America...
            div.chart__list-item-genre
              span Action
              span Adveture
              span Sci-Fi
          .column.small-3.align-self-middle.text-center
            span.chart__list-item-badge 4.9
        </div>
      </div>

    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        <img src="assets/img/5.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title Doctor Strange
            div.chart__list-item-genre
              span Action
              span Adveture
              span Fantasy
          .column.small-3.align-self-middle.text-center
            span.chart__list-item-badge 4.8
        </div>
      </div>

    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        <img src="assets/img/2.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title Assassin’s Creed
            div.chart__list-item-genre
              span Action
              span Adveture
              span Fantasy
          .column.small-3.align-self-middle.text-center
            span.chart__list-item-badge 4.2
        </div>
      </div>

    .chart__list-item.column.small-12.medium-6.large-3
      <div class="card">
        .chart__list-item-info
          a.chart__list-item-info-play(href="#")
            <i class="material-icons">play_circle_filled</i>
          p.chart__list-item-info-caption Watch Now
          a.chart__list-item-info-more(href="#") View Info
        <img src="assets/img/1.jpg">
        <div class="card-section row">
          .column.small-9
            p.chart__list-item-title Fantastic Beasts...
            div.chart__list-item-genre
              span Adveture
              span Family
              span Fantasy
          .column.small-3.align-self-middle.text-center
            span.chart__list-item-badge 4.7
        </div>
      </div>
  .row
    .chart__list-more.column.text-center
      .chart__list-more-loading
      p.chart__list-more-text Loading
    